body{
    background-color: #202124;
    padding: 5em;
}

/* ScrollBar */

body::-webkit-scrollbar {
    width: 17px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #302F34;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #717171;    /* color of the scroll thumb */
    border-radius: 8px;       /* roundness of the scroll thumb */
    border: 4px solid #302F34;  /* creates padding around scroll thumb */
  }
