.playedIndicator { background: #5dd000; }

.backdropImage { display: none; }

.backgroundContainer {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://i.ytimg.com/vi/avCWDDox1nE/maxresdefault.jpg");
  filter: blur(10px);
  background-size: cover;
}
